<IfModule mod_rewrite.c>
    RewriteEngine On
    SetEnvIf Request_URI ^(.*)/$ BASEDIR=$1

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ %{ENV:BASEDIR} [L,R=303]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-l

    RewriteRule ^([^\n]+)|(.*/)$ index.php/$1

</IfModule>